{% extends 'base.html.twig' %}

{% block title %}- Création de compte{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/account/create.css">
{% endblock %}

{% block body %}
    <div id="create-container">
        {{ form_start(form) }}
            <h4>Créez un compte</h4>
            <p>Bénéficiez d'une expérience personnalisée avec du contenu en lien avec votre activité et vos centres d'intérêt sur notre service</p>
            <div>
                <label for="user_lastname" class="form-label">Nom*</label>
                {{ form_widget(form.lastname) }}
                {{ form_errors(form.lastname) }}
            </div>
            <div>
                <label for="user_firstname" class="form-label">Prénom*</label>
                {{ form_widget(form.firstname) }}
                {{ form_errors(form.firstname) }}
            </div>
            <div>
                <label for="user_email" class="form-label">E-mail*</label>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div>
                <label for="user_password" class="form-label">Mot de passe*</label>
                {{ form_widget(form.password) }}
                {{ form_errors(form.password) }}
            </div>
            <div>
                <label for="user_passwordConfirm" class="form-label">Confirmation mot de passe*</label>
                {{ form_widget(form.passwordConfirm) }}
                {{ form_errors(form.passwordConfirm) }}
            </div>

            <div>
                <label for="user_address" class="form-label">Adresse</label>
                {{ form_widget(form.address) }}
                {{ form_errors(form.address) }}
            </div>
            <div>
                <label for="user_zipcode" class="form-label">Code postal</label>
                {{ form_widget(form.zipcode) }}
                {{ form_errors(form.zipcode) }}
            </div>
            <div>
                <label for="user_state" class="form-label">Département</label>
                {{ form_widget(form.state) }}
                {{ form_errors(form.state) }}
            </div>

            <div>
                <br/><br/>
                <button style="width: 100%;" type="submit" class="btn btn-primary">Créer mon compte</button>
            </div>
            <br/>
            <p class="join-us">Vous avez déjà un compte ? <a href="{{ path('account_login') }}">Me connecter</a></p>
        {{ form_end(form) }}
    </div>
{% endblock %}
