{% extends 'base.html.twig' %}

{% block title %}- Mon compte{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/account/index.css">
{% endblock %}

{% block body %}
    <div id="profile-container">
        <div class="user-panel">
            <img class="profile-picture" alt="Profile Picture" src="/assets/img/profile-picture.png"/>
            <div>
                <h5>{{ user.firstname }} {{ user.lastname }}</h5>
                {% if avg %}
                    <a href="{{ path('review_list', {id: user.id}) }}" class="no-decoration">
                        <i class="bi bi-star{% if avg > 0 and avg < 1 %}-half{% elseif avg >= 1 %}-fill{% endif %}"></i>
                        <i class="bi bi-star{% if avg > 1 and avg < 2 %}-half{% elseif avg >= 2 %}-fill{% endif %}"></i>
                        <i class="bi bi-star{% if avg > 2 and avg < 3 %}-half{% elseif avg >= 3 %}-fill{% endif %}"></i>
                        <i class="bi bi-star{% if avg > 3 and avg < 4 %}-half{% elseif avg >= 4 %}-fill{% endif %}"></i>
                        <i class="bi bi-star{% if avg > 4 and avg < 5 %}-half{% elseif avg == 5 %}-fill{% endif %}"></i>
                        ({{ rateNumber }})
                    </a>
                {% endif %}
            </div>

            <a href="{{ path('product_list_user', {id: user.id}) }}" class="btn btn-outline-info profile-button
            semi-bold">Voir mon profil public</a>
        </div>


        <div class="buttons">
            <a href="{{ path('product_manage') }}" class="button-card shadow">
                <i class="bi bi-file-text-fill button-icon"></i>
                <h5 class="card-title">Annonces</h5>
                <p class="card-text">Gérer mes annonces déposées</p>
            </a>
            <a href="{{ path('account_modify') }}" class="button-card shadow">
                <i class="bi bi-gear-fill button-icon"></i>
                <h5 class="card-title">Paramètres</h5>
                <p class="card-text">Compléter et modifier mes informations privées</p>
            </a>
            <a href="{{ path('message_list') }}" class="button-card shadow">
                <i class="bi bi-chat-right-text-fill button-icon"></i>
                <h5 class="card-title">Messages</h5>
                <p class="card-text">Voir vos conversations</p>
            </a>
        </div>

        <div class="logout">
            <a href="{{ path('account_logout') }}"class="btn link">Me déconnecter</a>
        </div>
    </div>
{% endblock %}
