{% extends 'base.html.twig' %}

{% block title %}- Mon compte{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/account/index.css">
{% endblock %}

{% block body %}

    <div class="user-panel">
        <i class="bi bi-person-circle"></i>
        <h2> {{ user.firstname }} {{ user.lastname }}</h2>

        <a href="{{ path('product_manage') }}" class="btn btn-outline-secondary">Voir mon profil public</a>
    </div>

    <div class="buttons">
        <a href="#" class="button-card shadow">
            <i class="bi bi-card-text button-icon"></i>
            <h5 class="card-title">Annonces</h5>
            <p class="card-text">Gérer mes annonces déposées</p>
        </a>
        <a href="{{ path('account_modify') }}" class="button-card shadow">
            <i class="bi bi-gear-fill button-icon"></i>
            <h5 class="card-title">Paramètres</h5>
            <p class="card-text">Compléter et modifier mes informations privées</p>
        </a>
    </div>

    <div class="logout">
        <a href="{{ path('account_logout') }}"class="btn link">Me déconnecter</a>
    </div>

{% endblock %}
