{% extends 'base.html.twig' %}

{% block title %}- Mon compte{% endblock %}

{% block body %}

    <div class="user-panel">
        <i class="bi bi-person-circle"></i>
        <h2> {{ user.firstname }} {{ user.name }}</h2>

        <a href="#">
            <button class="btn btn-outline-secondary">
                Voir mon profil public
            </button>
        </a>
    </div>

    <div class="information">
        <h2>Paramètres</h2>
        <h3>Adresse</h3>
        <form>
            <label for="address"> Adresse
                <input type="text" value="{{ user.address }}" name="address"/>
            </label>
            <label for="zipcode"> Code postal
                <input type="number" value="{{ user.zipcode }}" name="zipcode"/>
            </label>
            <label for="state"> Région
                <input type="text" value="{{ user.state }}" name="state"/>
            </label>

            {% if true %}
                <a href="#">
                    <button class="btn btn-secondary">Enregistrer les modifications</button>
                </a>
            {% else %}
                <button class="btn btn-outline-secondary" disabled>Enregistrer les modifications</button>
            {% endif %}
        </form>

        <h3>E-mail</h3>
        <label><input type="email" value="{{ user.email }}" disabled/></label>
    </div>

    <div class="logout">
        <a href="{{ path('account_logout') }}">
            <button class="btn btn-danger">Se deconnecter</button>
        </a>
    </div>

{% endblock %}
