{% extends 'base.html.twig' %}

{% block title %}- Notes d'un vendeur{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

    <a href="{{ back }}"> Revenir à la page précédente</a>

    <div id="conversation-container">
        {% if selfConnected == true %}
        <h4>Vos notes</h4>
        {% else %}
        <h4>Notes de {{ user.firstname }} {{ user.lastname }}</h4>
        {% endif %}
        {% for review in reviews %}
            <div class="conversation-right">
                <i class="bi bi-star{% if review.rate >= 1 %}-fill{% endif %}"></i>
                <i class="bi bi-star{% if review.rate >= 2 %}-fill{% endif %}"></i>
                <i class="bi bi-star{% if review.rate >= 3 %}-fill{% endif %}"></i>
                <i class="bi bi-star{% if review.rate >= 4 %}-fill{% endif %}"></i>
                <i class="bi bi-star{% if review.rate == 5 %}-fill{% endif %}"></i>
                <p>{{ review.reviewer.firstname }} {{ review.reviewer.lastname }}</p>
                <p>{{ review.comment }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
