{% extends 'base.html.twig' %}

{% block title %}- Annonces{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/public/assets/css/product/detail.css">
{% endblock %}

{% block body %}
    <div id="detail-container">
        <div class="product">
            <div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for image in product.imagesPath %}
                        <button class="{% if loop.index == 1 %}active{% endif %}" type="button" data-bs-target="#carousel" data-bs-slide-to="{{ loop.index - 1 }}" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in product.imagesPath %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" data-bs-interval="15000">
                            <img class="d-block w-100" alt="{{ product.name }}" src="{{ image }}"/>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <h3 class="product-title">{{ product.name }}</h3>
            <h5>{{ product.price / 100 }}€</h5>
            <p class="product-date">{{ product.date|date("m/d/Y à h:i") }}</p>
            <hr/>

            <div class="product-shipping">
                <div class="product-benefit">
                    <i class="bi bi-box-seam product-benefit-logo"></i>
                    <p>Faites-vous livrer <strong>à partir de 2133 €</strong> ou remise en main propre avec paiement presque sécurisé</p>
                </div>
                <div class="product-benefit">
                    <i class="bi bi-coin product-benefit-logo"></i>
                    <p>Bénéficiez de la protection acheteurs leboncoin eco+ (si on en a envie)</p>
                </div>
                <div class="product-benefit">
                    <i class="bi bi-file-lock product-benefit-logo"></i>
                    <p>Paiement presque sécurisé (nos stagiaires ont encore des doutes)</p>
                </div>
            </div>
            <hr/>

            <h5>Description</h5>
            <p>{{ product.description|nl2br }}</p>
            <hr/>

            <h5>Critères</h5>
            <div class="d-flex">
                <i class="bi bi-wrench-adjustable-circle product-quality-logo"></i>
                <div>
                    <p class="product-quality">État</p>
                    <p class="m-0">{{ product.quality == 0 ? 'État neuf'
                        : product.quality == 1 ? 'Très bon état'
                        : product.quality == 2 ? 'Bon état'
                        : product.quality == 3 ? 'État satisfaisant'
                        : product.quality == 4 ? 'Pour pièces'
                        : 'Non spécifié' }}</p>
                </div>
            </div>
            <hr/>

            <h5>Remise en main propre avec paiement sécurisé</h5>
            <div class="product-benefit">
                <i class="bi bi-coin product-benefit-logo"></i>
                <p>Réservez ce bien jusqu’au rendez-vous avec le vendeur</p>
            </div>
            <div class="product-benefit">
                <i class="bi bi-emoji-laughing product-benefit-logo"></i>
                <p>Restez libre de refuser ce bien s’il ne correspond pas à vos attentes ou que le vendeur vous racket</p>
            </div>
            <hr/>

            <h5>Livraison</h5>
            <p style="font-size: 0.8em;">Recevez ce bien à domicile ou à deux mille pas de chez vous</p>
            <div class="d-flex other-shipping">
                <p><strong>Autre mode de livraison</strong></p>
                <hr style="flex: 1;"/>
                <p>0 €</p>
            </div>
            <p class="product-quality">le vendeur vous communiquera les modalités du mode de livraison qu’il a choisi (s'il ne vous met pas un vent)</p>
            <hr/>

            <h5>Protection leboncoin eco+</h5>
            <div class="product-benefit">
                <i class="bi bi-truck product-benefit-logo"></i>
                <p>Votre argent est sécurisé jusqu’à la confirmation de récupération de l’article</p>
            </div>
            <div class="product-benefit">
                <i class="bi bi-people-fill product-benefit-logo"></i>
                <p>Une équipe de turbo patates dédiée à votre service</p>
            </div>
            <hr/>
            <div class="d-flex">
                <i class="bi bi-geo-alt-fill"></i>
                <h5>&nbsp;{{ product.city }}</h5>
            </div>
            <iframe id="google-map" src="https://maps.google.com/maps?q={{ product.city }}&t=&ie=UTF8&iwloc=&output=embed"></iframe>
            <hr/>

            <div class="product-user">
                <img class="profile-picture" alt="Profile Picture" src="/public/assets/img/profile-picture.png"/>
                <h6>{{ product.user.firstname }} {{ product.user.lastname }}</h6>
            </div>
            <div class="product-benefit">
                <i class="bi bi-person-check product-benefit-logo"></i>
                <p>Membre depuis {{ product.user.creation|date("F Y") }}</p>
            </div>
            <hr/>
        </div>
        <div class="user shadow-sm">
            <div class="product-user">
                <img class="profile-picture" alt="Profile Picture" src="/public/assets/img/profile-picture.png"/>
                <h6>{{ product.user.firstname }} {{ product.user.lastname }}</h6>
            </div>
            <hr/>
            <a class="btn btn-primary user-buttons mb-3">Acheter</a>
            <a class="btn btn-info user-buttons">Message</a>
        </div>
    </div>
{% endblock %}
