{% extends 'base.html.twig' %}

{% block title %}- Favoris{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/product/list.css">
{% endblock %}

{% block body %}

    <div id="product-list">
        {% if favorites %}
            {% for favorite in favorites %}
                <a class="product">
                    <img src="{{ favorite.product.imagesPath[0] }}" class="product-img" alt="{{ favorite.product.name }}">
                    <div class="product-right">
                        <div class="product-top">
                            <p class="product-title semi-bold">{{ favorite.product.name }}</p>
                            <p>{{ favorite.product.price / 100 }}€</p>
                        </div>
                        <div class="product-bottom">
                            <p>{{ favorite.product.category }}</p>
                            <p>{{ favorite.product.city }}</p>
                            <p>{{ favorite.product.date|date('d F Y à H:i:s') }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div>No favorites found</div>
        {% endif %}
    </div>

{% endblock %}
