{% extends 'base.html.twig' %}

{% block title %}- Favoris{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/product/list.css">
{% endblock %}

{% block body %}

    <div id="product-list">
        <h4 style="text-align: center;">Vos favoris</h4>
        {% if favorites %}
            {% for favorite in favorites %}
                <div class="product">
                    <a class="product-link" href="{{ path('product_detail', { id: favorite.product.id }) }}">
                        <img src="{{ favorite.product.imagesPath[0] }}" class="product-img" alt="{{ favorite.product
                        .name
                        }}">
                        <div class="product-right">
                            <div class="product-top">
                                <p class="product-title semi-bold">{{ favorite.product.name }}</p>
                                <p>{{ favorite.product.price / 100 }}€</p>
                            </div>
                            <div class="product-bottom">
                                <p>{{ favorite.product.category }}</p>
                                <p>{{ favorite.product.city }}</p>
                                <p>{{ favorite.product.date|date('d F Y à H:i:s') }}</p>
                            </div>
                        </div>
                    </a>
                    <a class="favorite-logo" href="{{ path('favorite_delete', { id: favorite.id }) }}">
                        <i class="bi bi-heart-fill"></i>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-product shadow">
                <h5>Vous n'avez pas de favoris !</h5>
            </div>
        {% endif %}
    </div>

{% endblock %}
