{% extends 'base.html.twig' %}

{% block title %}- Annonces{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/product/list.css">
{% endblock %}

{% block body %}
    <div id="product-list">
        <div class="user-panel">
            <img class="profile-picture" alt="Profile Picture" src="/assets/img/profile-picture.png"/>
            <div>
                <h5>{{ profile.firstname }} {{ profile.lastname }}</h5>
                {% if avg %}
                    <i class="bi bi-star{% if avg > 0 and avg < 1 %}-half{% elseif avg >= 1 %}-fill{% endif %}"></i>
                    <i class="bi bi-star{% if avg > 1 and avg < 2 %}-half{% elseif avg >= 2 %}-fill{% endif %}"></i>
                    <i class="bi bi-star{% if avg > 2 and avg < 3 %}-half{% elseif avg >= 3 %}-fill{% endif %}"></i>
                    <i class="bi bi-star{% if avg > 3 and avg < 4 %}-half{% elseif avg >= 4 %}-fill{% endif %}"></i>
                    <i class="bi bi-star{% if avg > 4 and avg < 5 %}-half{% elseif avg == 5 %}-fill{% endif %}"></i>
                    ({{ rateNumber }})
                {% endif %}
            </div>


        </div>
        <h3>Annonces de {{ profile.firstname }} {{ profile.lastname }}</h3>
        {% for product in products %}
            <div class="product">
                <a class="product-link" href="{{ path('product_detail', { id: product.id }) }}">
                    <img src="{{ product.imagesPath[0] }}" class="product-img" alt="{{ product.name }}">
                    <div class="product-right">
                        <div class="product-top">
                            <p class="product-title semi-bold">{{ product.name }}</p>
                            <p>{{ product.price / 100 }}€</p>
                        </div>
                        <div class="product-bottom">
                            <p>{{ product.category }}</p>
                            <p>{{ product.city }}</p>
                            <p>{{ product.date|date('d F Y à H:i:s') }}</p>
                        </div>
                    </div>
                </a>
                <a class="favorite-logo" href="{{ path('favorite_add_remove', { id: product.id })}}">
                    <i class="bi bi-heart{% if product.userFavorite%}-fill{% endif %}"></i>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
