{% extends 'base.html.twig' %}

{% block title %}- Annonces{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/product/list.css">
{% endblock %}

{% block body %}


    <div id="product-list">
        {% if products %}
            {% for product in products %}
                <div class="product" onclick="window.location = '{{ path('product_detail', { id: product.id }) }}'">
                    <img class="product-img" alt="{{ product.name }}"
                         src="/assets/img/products/{{ product.id }}/0.jpeg"/>
                    <div class="product-right">
                        <div class="product-top">
                            <p class="product-title semi-bold">{{ product.name }}</p>
                            <p>{{ product.price / 100 }}€</p>
                        </div>
                        <div class="product-bottom">
                            <p>{{ product.category }}</p>
                            <p>{{ product.city }}</p>
                            <p>{{ product.date | date('d F Y à H:i:s') }}</p>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#" data-bs-target="deleteModal">

                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                <i class="bi bi-trash3"></i>
                            </button>

                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-outline-secondary"><i class="bi bi-gear"></i></button>
                        </a>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <div>No products found</div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
