<style>
    #search-background {
        background-color: white;
        width: 90%;
        margin: 30px auto auto;
        height: 210px;
        max-width: 930px;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search-group {
        flex-wrap: nowrap;
    }

    .inputs {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .input-logo {
        min-width: 41px !important;
        border-right: none;
        overflow: hidden;
    }

    .input-logo-input {
        border-left: none;
    }

    .search-submit-button {
        margin: 84px auto auto;
    }
</style>

<form name="search" method="post" id="search-background" class="shadow-sm">
    <br/>
    <br/>
    <div class="inputs">
        <div style="width: 100%" class="input-group mb-3 search-group">
            <i class="form-control input-logo bi bi-caret-down-fill"></i>
            <label hidden for="category-select">Catégorie</label>
            <select id="category-select" name="search[category]" style="flex: 1 1 250px;" class="form-control input-logo-input" name="category">
                <option value="">Catégories</option>
                {% for category in categories %}
                    <option {% if category.id == selectedCategoryId %}selected="selected"{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <i class="input-logo form-control bi bi-search"></i>
            <label hidden for="search">Recherche</label>
            <input id="search" style="width: 100%;" name="search[search]" value="{{ search }}" type="search" placeholder="Que recherchez-vous ?" class="form-control input-logo-input">
        </div>
        <div style="width: 50%; margin-left: 20px;" class="input-group mb-3 search-group">
            <i class="input-logo form-control bi bi-geo-alt"></i>
            <label hidden for="city">Ville</label>
            <input id="city" style="width: 100%;" name="search[city]" value="{{ city }}" type="search" placeholder="Saisissez une ville" class="form-control input-logo-input">
        </div>
    </div>
    <button type="submit" class="btn btn-info search-submit-button">Rechercher ({{ total }} résultats)</button>
    {{ form_errors(form) }}
</form>