{% extends 'base.html.twig' %}

{% block title %}- Messages{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/message/list.css">
{% endblock %}

{% block body %}
<div id="conversation-container">
    <h4>Vos conversations</h4>
    {% for conversation in conversations %}
        <a class="conversation shadow" href="{{ path('message_detail', { id: conversation.product.id }) }}">
            <img class="conversation-img" src="{{ conversation.product.imagesPath[0] }}"/>
            <div class="conversation-right">
                <h6>{{ conversation.product.user.firstname }} {{ conversation.product.user.lastname }}</h6>
                <p>{{ conversation.product.name }}</p>
                <p class="last-message">Dernier message: {{ conversation.messages[conversation.messages|length - 1].date|date("m/d/Y à h:i") }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
